
.user-pub{
    background-color: white;
    float: left;
}
.users{
    color: black;
}
.like{
    float: right;
}
.sary-pub{
    margin-top:5vw;
}

.prixChip{
    background-color: rgb(69, 34, 171);
}

.etatChip {
    background-color: green;
}

.other-images {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
  }